
.chordscontainer {
    margin: 1rem;
    display: grid;
    @media only screen and (max-width: $mobile) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (min-width: $mobile) {
        grid-template-columns: repeat(8, 1fr);
    }
    grid-gap: 1rem;
    .chords {
        padding: 1rem;
        border-radius: 5;
        text-align: center;
    }
    .pulse {
        background-color: #e0f2f1;
        animation: chordPulse .5s ease-out alternate infinite;
    }
    .active {
        background-color: #b2dfdb;
    }
}

@keyframes chordPulse {
    0% {
        @include mdc-elevation(2);
    }

    100% {
        @include mdc-elevation(12);
    }
}