// $mdc-theme-primary: #006064;
// $mdc-theme-accent: #f57f17;
// $mdc-theme-background: #fff;
/*
5A5A8C
ff8080

fd256e
*/

$mdc-theme-primary: #076969;
$mdc-theme-accent: #af790c;
$mdc-theme-background: #fff;