
.chord-list {
    .chord-list-item {
        @include mdc-elevation(2);
        height: auto!important;
        padding: 1rem;
        margin: 1rem;
        cursor: pointer;
        &:hover {
            @include mdc-elevation(8);
        }
        &:active {
            @include mdc-elevation(4);
        }
        .chord-list-item-img {
            height: auto!important;
            width: auto!important;
        }
    }
}